<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title> BU INSA </title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'gestion/assets/img/logo.jpg'%}" rel="icon">
  <link href="{% static 'gestion/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'gestion/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gestion/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'gestion/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'gestion/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'gestion/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'gestion/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BU INSA
  * Template URL: https://bootstrapmade.com/BU INSA-free-bootstrap-landing-page-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

    
  <body>
    <section class="dark-background">
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        
              <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="{% static 'gestion/assets/img/logo.png" alt=""> -->
                <h1 class="sitename">BU INSA</h1>
              </a>
        
              <nav id="navmenu" class="navmenu">
                <ul>
                  <li><a href="{% url 'index' %}" class="active">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#gallery">Gallery</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#pricing">Pricing</a></li>
                  <li class="dropdown"><a href="#"><span>Compte</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">Deconnexion</a></li>
                      <li><a href="{% url 'meslivres' %}">Mes livres</a></li>
        
                      <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                          <li><a href="#">Deep Dropdown 1</a></li>
                          <li><a href="#">Deep Dropdown 2</a></li>
                          <li><a href="#">Deep Dropdown 3</a></li>
                          <li><a href="#">Deep Dropdown 4</a></li>
                          <li><a href="#">Deep Dropdown 5</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Dropdown 3</a></li>
                      <li><a href="#">Dropdown 4</a></li>
                    </ul>
                  </li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
              </nav>
        
            </div>
          </header>
          <div class="card text-center my-5 bg-transparent text-light">
            <div class="card-header mb-5">
              Profile
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h5 class="mb-4">{{membre.nom}}, Modifiez votre Profile</h5>
                        <form method="post">
                            {% csrf_token %}
                            
                    
                           
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="addon-wrapping">Tel :</span>
                                <input type="text" class="form-control" name="phone" id="phone"  placeholder="Ex: 0754XXXXXX"  aria-describedby="addon-wrapping" required>
                            </div>
                            
                      
                    
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="addon-wrapping">N. de Carte :</span>
                                <input type="text"  id="numero_de_carte" name="numero_de_carte" class="form-control" name="phone" id="phone"  placeholder="123456" aria-label="Username" aria-describedby="addon-wrapping" required>
                            </div>
                          
                    
                            <a class="btn btn-outline-light mx-2" type="submit">Home</a>
                            <button class="btn btn-outline-light" type="submit">Enregistrer</button>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            
            </div>
   
    </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script defer>
        {% autoescape off %}
        {% for ms in messages %}
            swal('{{ms|safe}}');
        {% endfor %}
        {% endautoescape %}
    </script>

</body>
</html>